@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&family=Rajdhani:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000000;

  background: url(./Images/4.jpg);
  width: 100vh;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 110% 120%;
  cursor: pointer;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  justify-content: space-between;
  width: 100%;
  padding: 30px 100px;
}
.logo {
  font-family: "Rajdhani", sans-serif;
  font-weight: 100;
  color: #484747;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.navbar a {
  display: flex;
  display: inline-block;

  font-family: "Rajdhani", sans-serif;
  font-weight: 100;
  color: #656565;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 18px;
  margin: 8px;
}

.navbar a:nth-child(4) {
  color: rgb(172, 172, 172);
}

.navbar a:hover {
  transform: scale(1.1);
}
.icon-pub {
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  margin: 10px;
}

.icon-pub a {
  color: #484747;
  text-decoration: none;
  justify-content: space-between;
  font-size: 1.2em;
  margin: 32px;
}
.icon-pub a:hover {
  color: #828282;
  transition: all 0.6s ease 0s;
}

.aside {
  display: flex;
  top: 50%;
  width: 100%;
  padding: 200px 100px;
  color: #fff;
  align-items: center;
}
.aside h1 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 18px;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  font-family: "Rajdhani", sans-serif;
  margin-left: 40px;
}
form {
  display: flex;
  flex-direction: column;
}

form h3 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 9px;
  letter-spacing: 6px;
  color: #b7b7b7;
}
input {
  width: 200px;
  height: 28px;
  margin-bottom: 10px;
  padding-left: 5px;
  background-color: transparent;
  margin-right: 500px;

  outline: none;
  font-size: 11px;
  font-weight: 400;
  color: #717070;
  border: 1px solid #717070;
  border-radius: 22px;
  letter-spacing: 3px;
}
textarea {
  width: 310px;
  height: 100px;
  margin-bottom: 10px;
  padding-left: 11px;
  background-color: transparent;

  border: 1px solid #717070;
  border-radius: 22px;
  color: #717070;
  font-size: 12px;
  font-weight: 400;

  letter-spacing: 4px;
  margin-top: 10px;
}

button {
  font-family: "Rajdhani", sans-serif;
  width: 140px;
  height: 28px;
  margin-bottom: 10px;

  background-color: transparent;
  margin-right: 400px;

  outline: none;
  font-size: 12px;
  font-weight: 400;
  color: #b7b7b7;
  border: 1px solid #717070;
  border-radius: 10px;
  letter-spacing: 3px;
  background-color: transparent;
  cursor: pointer;
}
