@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&family=Rajdhani:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;

  background: url(./Images/1.jpg);
  width: 100vh;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 110% 110%;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  justify-content: space-between;
  width: 100%;
  padding: 30px 100px;
}
.logo {
  font-family: "Rajdhani", sans-serif;
  font-weight: 100;
  color: #656565;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 20px;
}
.navbar a {
  display: flex;
  display: inline-block;

  font-family: "Rajdhani", sans-serif;
  font-weight: 100;

  color: #656565;

  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 18px;
  margin: 8px;
}
.navbar a:nth-child(1) {
  color: rgb(172, 172, 172);
}

.navbar a:hover {
  transform: scale(1.1);
  transition: all 0.6s ease ease-in-out;
}
.icon-pub {
  position: fixed;
  top: 0;
  left: 0;

  padding: 50px;
  margin: 10px;
}

.icon-pub a {
  color: #484747;
  text-decoration: none;
  justify-content: space-between;
  font-size: 1.2em;
  margin: 32px;
}
.icon-pub a:hover {
  color: #828282;
  transition: all 0.6s ease 0s;
}
